// @import 'setup/fonts';
// @import 'setup/variables';
// // @import './setup/icomoon';
// @import 'setup/typography';
// @import 'setup/mixins';
// @import 'setup/default';
// @import 'setup/layouts';

//test
// @import 'test';

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}

