// Commissioner-Light 300
@font-face {
    font-family: 'Commissioner-Light';
    src:
        local('Commissioner-Light'),
        url('@/assets/fonts/Commissioner-Light.woff') format('woff'),
        url('@/assets/fonts/Commissioner-Light.ttf') format('truetype'),
        url('@/assets/fonts/Commissioner-Light.eot') format('embedded-opentype'),
        url('@/assets/fonts/Commissioner-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
}   

// Commissioner-Regular 400
@font-face {
    font-family: 'Commissioner-Regular';
    src:
        local('Commissioner-Regular'),
        url('@/assets/fonts/Commissioner-Regular.woff') format('woff'),
        url('@/assets/fonts/Commissioner-Regular.ttf') format('truetype'),
        url('@/assets/fonts/Commissioner-Regular.eot') format('embedded-opentype'),
        url('@/assets/fonts/Commissioner-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
} 

// Commissioner-Medium 500
@font-face {
    font-family: 'Commissioner-Medium';
    src:
        local('Commissioner-Medium'),
        url('@/assets/fonts/Commissioner-Medium.woff') format('woff'),
        url('@/assets/fonts/Commissioner-Medium.ttf') format('truetype'),
        url('@/assets/fonts/Commissioner-Medium.eot') format('embedded-opentype'),
        url('@/assets/fonts/Commissioner-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
} 

// Commissioner-SemiBold 400
@font-face {
    font-family: 'Commissioner-SemiBold';
    src:
        local('Commissioner-SemiBold'),
        url('@/assets/fonts/Commissioner-SemiBold.woff') format('woff'),
        url('@/assets/fonts/Commissioner-SemiBold.ttf') format('truetype'),
        url('@/assets/fonts/Commissioner-SemiBold.eot') format('embedded-opentype'),
        url('@/assets/fonts/Commissioner-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
} 

// Segoe UI
@font-face {
    font-family: 'Segoe UI';
    src:
        local('Segoe UI'),
        url('@/assets/fonts/Segoe UI.woff') format('woff'),
        url('@/assets/fonts/Segoe UI.ttf') format('truetype'),
        url('@/assets/fonts/Segoe UI.eot') format('embedded-opentype'),
        url('@/assets/fonts/Segoe UI.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
} 
