h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    // нужные стили
}

h2 {
    // нужные стили
}

h3 {
    // нужные стили
}

h4, h5, h6 {
    // нужные стили
}

.title-h1 {
    // нужные стили
}

.title-h2 {
    // нужные стили
}

.title-h3 {
    // нужные стили
}

.title-h4 {
    // нужные стили
}

p {
    margin: 0;
}

b, strong {
    font-weight: bold;
}